<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <h4> 宁波柯力有限公司</h4>
    <ul>
        <li><a href="/keli/api/v1.0/devices/">全国设备分布情况</a></li>
        <li><a href="/keli/api/v1.0/devices/province/count/内蒙古自治区">根据省份查询设备在线非在线数量</a></li>
        <li><a href="/keli/api/v1.0/devices/province/内蒙古自治区/1">根据省份查询，返回设备信息列表</a></li>
        <li><a href="/keli/api/v1.0/devices/province/内蒙古自治区/companys">设备之所属公司列表</a></li>
        <li><a href="/keli/api/v1.0/devices/province/浙江省/company/count/宁波柯力传感科技股份有限公司">根据省份和公司名称查询设备在线非在线数量</a></li>
        <li><a href="/keli/api/v1.0/devices/province/浙江省/company/宁波柯力传感科技股份有限公司/1">根据省份和公司名称过滤查询，返回设备信息列表</a></li>
        <li><a href="/keli/api/v1.0/device/gprsSn/alarms/1">指定设备的故障详细信息,例如设备编号001</a></li>
    </ul>
</div>
<div id="container" style="height: 400px; min-width: 310px"></div>
</body>
</html>